html
  head
    title Products List
    link(rel='stylesheet', href='/static/css/app.css')
  body
    div.title
        h1=projectTitle
    div.container
        div.column1
            aside 
            ul
                li 
                    a(href='/docs/books/list') GET /books
                li 
                    a(href='/docs/books/item') GET /books/:id
                li 
                    a(href='/docs/products/list') GET /products
                li 
                    a(href='/docs/products/item') GET /products/:id
                li
                    a(href='/') Go to home
        div.column2
            h3 Retrieving a list of products
            p You can retrieve a list of products by sending an HTTP GET request to the URI with the following format:
            p https://api.myownfancyproject.com/products
            h3 Request
            p Here is an example of a GET request that gets a list of products:  
            p GET https://api.myownfancyproject.com/products
        div.column3
            h3.response Response
            pre=snippet

