html
  head
    title Books Item
    link(rel='stylesheet', href='/static/css/app.css')
  body
    div.title
        h1=projectTitle
    div.container
        div.column1
            aside 
            ul
                li 
                    a(href='/docs/books/list') GET /books
                li 
                    a(href='/docs/books/item') GET /books/:id
                li 
                    a(href='/docs/products/list') GET /products
                li 
                    a(href='/docs/products/item') GET /products/:id
                li
                    a(href='/') Go to home
        div.column2
            h3 Retrieving a specific book
            p You can retrieve information for a specific book by sending an HTTP GET request to the Book resource URI:
            p https://api.myownfancyproject.com/books/id
            p Replace the id path parameter with the ID of the book to retrieve. See the Myownfancyproject Books IDs section for more information on book IDs
            h3 Request
            p Here is an example of a GET request that gets a single book:
            p GET https://api.myownfancyproject.com/books/10
        div.column3
            h3.response Response
            pre=snippet
