html
  head
    title Products Item
    link(rel='stylesheet', href='/static/css/app.css')
  body
    div.title
        h1=projectTitle
    div.container
        div.column1
            aside 
            ul
                li 
                    a(href='/docs/books/list') GET /books
                li 
                    a(href='/docs/books/item') GET /books/:id
                li 
                    a(href='/docs/products/list') GET /products
                li 
                    a(href='/docs/products/item') GET /products/:id
                li
                    a(href='/') Go to home
        div.column2
            h3 Retrieving a specific product
            p You can retrieve information for a specific product by sending an HTTP GET request to the Product resource URI:
            p https://api.myownfancyproject.com/products/id
            p Replace the id path parameter with the ID of the product to retrieve. See the Myownfancyproject Products IDs section for more information on product IDs
            h3 Request
            p Here is an example of a GET request that gets a single product:
            p GET https://api.myownfancyproject.com/products/10
        div.column3
            h3.response Response
            pre=snippet